* {
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

h1,
p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: #918E9B;
    font-size: 0.725rem;
}

p {
    color: #2B283A;
}

/* Navbar */

nav {
    background-color: #F55A5A;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    position: relative;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-title {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: -0.07em;
}

/* Main content */

.section-main {
    padding: 1.5em 0 1.5em 0;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.content {
    margin: 0 auto;
    padding: 1.5em; 
    display: flex;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid #F5F5F5;
}

.content:last-child {
    border: none;
}

.container-location {
    display: flex;
    align-items: center;
    gap: 1em;
}

.content-image {
    width: 125px;
    height: 162px;
    border-radius: 10px;
}

.content-location {
    font-size: 0.625rem;
    letter-spacing: .03em;
}

.content-title {
    font-size: 1.5rem;
    padding-block: 0.3em 0.5em;
    color: #2B283A;
}

.content-googlemaplink {
    text-decoration: underline;
}

.content-date {
    font-size: 0.625rem;
    font-weight: 700;
    margin-bottom: .5em;
}

.content-desc {
    font-size: 0.625rem;
    line-height: 1.3em;
}

@media (min-width: 520px) {
    nav {
        width: 520px;
    }

    .section-main {
        width: 520px;
        background-color: #FFFFFF;
    }

    .content-image {
        width: 150px;
        height: 212px;
    }

    .content-title {
        font-size: 1.75rem;
    }

    .content-date,
    .content-desc,
    .container-location {
        font-size: .825rem;
    }
}